body {
	font-family: 'open sans';
}
.contenedor {
	padding: 60px 0;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}
form {
	width: 450px;
	margin: auto;
	background: rgba(0, 0, 0, 0.4);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 7px;
}
.titulo {
	color: #642a73;
	font-size: 30px;
	text-align: center;
	margin-bottom: 60px;
}
/* HEADER */

header {
	width: 100%;
	height: 600px;
	background: #b92b27;
	background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.617), hsla(317, 45%, 52%, 0.664), url(../img/portada.jpg); 
	background: linear-gradient(to right, hsla(340, 95%, 50%, 0.617), hsla(317, 45%, 52%, 0.664), url(../img/portada.jpg); 

}
h2 { 
	color: #000000;
	text-align: center;
	margin: 0;
	font-size: 30px;
	margin-bottom: 20px;
 }
 input, textarea {
 	width: 100%;
 	margin-bottom: 20px;
 	padding: 7px;
 	box-sizing: border-box;
 	font-size: 17px;
 	border: none;
 }
 textarea {
 	min-height: 100px;
 	max-height: 200px;
 	max-width: 100%;
 }
 #boton {
 	background: #31384A;
 	color: #fff;
 	padding: 20px;
 }
 #boton:hover {
 	cursor:  pointer;
 }
 @media (max-width: 480px){
 	form{
 		width: 100%;
 	}
 }